aiohttp==3.9.5
asyncio==3.4.3
beautifulsoup4==4.12.3
chroma-hnswlib==0.7.5
chromadb==0.5.4
docx2txt==0.8
flask==2.1.3
groq==0.9.0
langchain==0.2.8
langchain-community==0.2.7
langchain-core==0.2.19
langchain-groq==0.1.6
langchain-text-splitters==0.2.2
llama-index==0.10.58
llama-index-core==0.10.58
llama-index-embeddings-huggingface==0.2.2
llama-index-llms-groq==0.1.4
pandas==2.2.2
pdfplumber==0.11.2
playwright==1.45.0
python-dotenv==1.0.1
sentence-transformers==3.0.1