.Hero {
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
  }
  
  .ms-10 {
    margin-left: 10px;
  }
  
  .flex {
    display: flex;
  }
  
  .items-start {
    align-items: flex-start;
  }
  
  .text-5xl {
    font-size: 3rem;
  }
  
  .space-x-3 {
    gap: 3px;
  }
  
  .w-15 {
    width: 3.75rem;
  }
  
  .h-15 {
    height: 3.75rem;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .text-white {
    color: #fff;
  }
  
  .text-lg {
    font-size: 1.125rem;
  }
  
  .text-left {
    text-align: left;
  }
  
  .m-10 {
    margin: 10px;
  }
  
  .p-7 {
    padding: 0.5rem;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .descrp {
    display: flex;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .text-xl {
    font-size: 1.25rem;
  }
  
  .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .fa-server {
    font-size: 2rem;
  }
  
  /* Add media queries for different screen sizes */
  @media (max-width: 768px) {
    .OvrHero {
      flex-direction: column;
    }
  
    .ms-10 {
      margin-left: 0;
    }
  
    .content {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
    }
  
    .descrp {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
    }
  }